---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <div id="aboutBox">
        <h2>About the SMP</h2>
        <p>
            Bayanihan SMP is a casual Minecraft Survival Multiplayer series featuring Filipino VTubers! It takes place in a private Minecraft server, with Season 1 taking course over the entire month of June 2026. Season 1 uses a custom vanilla-like modpack with QoL improvements in mind. The SMP is organized by PHTubers Bayanihan.
        </p>

        <h2>About PHTubers Bayanihan</h2>
        <p>
            PHTubers Bayanihan is a Discord server for Filipino VTubers, creatives and supporters! Join in for collaborations, opportunities and
            meeting new people!
        </p>
        <a href="https://discord.com/invite/P5n4YJcbTg" target="_blank">
            <button>
                Join PHTubers Bayanihan
            </button>
        </a>
        <br />
        <a href="https://twitter.com/PHVTBayanihan" target="_blank">
            <button>
                PHTubers Bayanihan Twitter
            </button>
        </a>
        <br />
        <h2>About BSMP Live</h2>
        <p>
            This web app was created by Madekuji Masamune, a member of the SMP, to collate ongoing livestreams of the SMP for others to watch!
            The app was built live on stream in Svelte, Astro, and ElysiaJS, and also makes use of the Twitch API.
        </p>
    </div>
</Layout>