---
import StreamBrowser from "../components/StreamBrowser.svelte";
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <!--<StreamBrowser client:load/>-->
    <h2>Season 1 has finished!</h2>
    <p>Thank you for watching!</p>
</Layout>
