---
import StreamBrowser from "../components/StreamBrowser.svelte";
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <!--<StreamBrowser client:load/>-->
    <h2>Season 1 has finished!</h2>
    <p>Thank you for watching!</p>
    <br />
    <a href="https://twitter.com/hashtag/PHTBayanihanSMPS1" target="_blank">
        <button>#PHTBayanihanSMPS1</button>
    </a>
</Layout>
