---

---
<div id="navbar">
    <div id="navbarContent">
        <div id="navbarLogo">
            <h1>Bayanihan SMP Live</h1>
        </div>
        <nav id="navbarNav">
            <a href="/"><button>Home</button></a>
            <a href="/members"><button>Members</button></a>
            <a href="/about"><button>About the SMP</button></a>
        </nav>
    </div>
</div>
<div class="header-border"></div>
